.loader {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2c2c2c;
    font-size: 12px;
}
.loader::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-image: url(../assets/icons/loading.svg);
    background-size: cover;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}