* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #eff3f7;
}
.container {
    display: flex;
    justify-content: center;
}
.loader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}