* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #eff3f7;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 1360px;
    width: 100%;
}
.loader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.pagination__button {
    width: 50px;
    height: 40px;
    border: 1px solid #b4aeb9;
    background-color: #fff;
    cursor: pointer;
}
.pagination__button--current {
    width: 50px;
    height: 40px;
    border: 1px solid #b4aeb9;
    background-color: #ccc;
}